<div style="text-align: center">
  <div *ngIf="!settings">
    <span>
      <button type="button" class="btn btn-info" (click)="gotoSettings()">Settings</button>
      <a routerLink="userPageCreator"><button type="button" class="btn btn-primary">+</button></a>    
    </span>
    <br />
    <h2>User Pages</h2>
    <p class="userPage" *ngFor="let page of userPages" (click)="pageClicked(page)">
      {{ page.name }}
    </p>
  </div>
  <div *ngIf="settings">
    <br />
    <span>
      <button class="btn btn-secondary" (click)="exportJSON()">
        Export JSON
      </button>
      <button class="btn btn-secondary" (click)="importJSON()">
        Import JSON
      </button>
    </span>
    <br />
    <form>
      <label>Post prefix: </label>
      <input name="settingsInput" value="{{ tmpPrefix }}" [(ngModel)]="tmpPrefix" appMyAutoFocus />
      <input type="submit" value="Change prefix" (click)="changePrefix()" />
      <button type="button" class="btn btn-info" (click)="cancel()">
        Back
      </button>
    </form>
  </div>
</div>
